<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Editor</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>chrome</string>
			<key>Key</key>
			<string>lightTheme</string>
			<key>Title</key>
			<string>Light Theme</string>
			<key>Titles</key>
			<array>
				<string>ambiance</string>
				<string>chrome</string>
				<string>clouds</string>
				<string>clouds_midnight</string>
				<string>cobalt</string>
				<string>crimson_editor</string>
				<string>dawn</string>
				<string>dracula</string>
				<string>dreamweaver</string>
				<string>chaos</string>
				<string>eclipse</string>
				<string>github</string>
				<string>gob</string>
				<string>gruvbox</string>
				<string>idle_fingers</string>
				<string>iplastic</string>
				<string>katzenmilch</string>
				<string>kr_theme</string>
				<string>kuroir</string>
				<string>merbivore</string>
				<string>merbivore_soft</string>
				<string>mono_industrial</string>
				<string>monokai</string>
				<string>nord_dark</string>
				<string>pastel_on_dark</string>
				<string>solarized_dark</string>
				<string>solarized_light</string>
				<string>sqlserver</string>
				<string>terminal</string>
				<string>textmate</string>
				<string>tomorrow</string>
				<string>tomorrow_night</string>
				<string>tomorrow_night_blue</string>
				<string>tomorrow_night_bright</string>
				<string>tomorrow_night_eighties</string>
				<string>twilight</string>
				<string>vibrant_ink</string>
				<string>xcode</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>ambiance</string>
				<string>chrome</string>
				<string>clouds</string>
				<string>clouds_midnight</string>
				<string>cobalt</string>
				<string>crimson_editor</string>
				<string>dawn</string>
				<string>dracula</string>
				<string>dreamweaver</string>
				<string>chaos</string>
				<string>eclipse</string>
				<string>github</string>
				<string>gob</string>
				<string>gruvbox</string>
				<string>idle_fingers</string>
				<string>iplastic</string>
				<string>katzenmilch</string>
				<string>kr_theme</string>
				<string>kuroir</string>
				<string>merbivore</string>
				<string>merbivore_soft</string>
				<string>mono_industrial</string>
				<string>monokai</string>
				<string>nord_dark</string>
				<string>pastel_on_dark</string>
				<string>solarized_dark</string>
				<string>solarized_light</string>
				<string>sqlserver</string>
				<string>terminal</string>
				<string>textmate</string>
				<string>tomorrow</string>
				<string>tomorrow_night</string>
				<string>tomorrow_night_blue</string>
				<string>tomorrow_night_bright</string>
				<string>tomorrow_night_eighties</string>
				<string>twilight</string>
				<string>vibrant_ink</string>
				<string>xcode</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>monokai</string>
			<key>Key</key>
			<string>darkTheme</string>
			<key>Title</key>
			<string>Dark Theme</string>
			<key>Titles</key>
			<array>
				<string>ambiance</string>
				<string>chrome</string>
				<string>clouds</string>
				<string>clouds_midnight</string>
				<string>cobalt</string>
				<string>crimson_editor</string>
				<string>dawn</string>
				<string>dracula</string>
				<string>dreamweaver</string>
				<string>chaos</string>
				<string>eclipse</string>
				<string>github</string>
				<string>gob</string>
				<string>gruvbox</string>
				<string>idle_fingers</string>
				<string>iplastic</string>
				<string>katzenmilch</string>
				<string>kr_theme</string>
				<string>kuroir</string>
				<string>merbivore</string>
				<string>merbivore_soft</string>
				<string>mono_industrial</string>
				<string>monokai</string>
				<string>nord_dark</string>
				<string>pastel_on_dark</string>
				<string>solarized_dark</string>
				<string>solarized_light</string>
				<string>sqlserver</string>
				<string>terminal</string>
				<string>textmate</string>
				<string>tomorrow</string>
				<string>tomorrow_night</string>
				<string>tomorrow_night_blue</string>
				<string>tomorrow_night_bright</string>
				<string>tomorrow_night_eighties</string>
				<string>twilight</string>
				<string>vibrant_ink</string>
				<string>xcode</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>ambiance</string>
				<string>chrome</string>
				<string>clouds</string>
				<string>clouds_midnight</string>
				<string>cobalt</string>
				<string>crimson_editor</string>
				<string>dawn</string>
				<string>dracula</string>
				<string>dreamweaver</string>
				<string>chaos</string>
				<string>eclipse</string>
				<string>github</string>
				<string>gob</string>
				<string>gruvbox</string>
				<string>idle_fingers</string>
				<string>iplastic</string>
				<string>katzenmilch</string>
				<string>kr_theme</string>
				<string>kuroir</string>
				<string>merbivore</string>
				<string>merbivore_soft</string>
				<string>mono_industrial</string>
				<string>monokai</string>
				<string>nord_dark</string>
				<string>pastel_on_dark</string>
				<string>solarized_dark</string>
				<string>solarized_light</string>
				<string>sqlserver</string>
				<string>terminal</string>
				<string>textmate</string>
				<string>tomorrow</string>
				<string>tomorrow_night</string>
				<string>tomorrow_night_blue</string>
				<string>tomorrow_night_bright</string>
				<string>tomorrow_night_eighties</string>
				<string>twilight</string>
				<string>vibrant_ink</string>
				<string>xcode</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>AI</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>gpt-4o-mini</string>
			<key>Key</key>
			<string>openaiModel</string>
			<key>Title</key>
			<string>Prompt Model</string>
			<key>Titles</key>
			<array>
				<string>GPT 4o mini</string>
				<string>GPT 5 mini</string>
				<string>GPT 5 nano</string>
				<string>GPT 4o</string>
				<string>GPT 5</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>gpt-4o-mini</string>
				<string>gpt-5-mini</string>
				<string>gpt5-nano</string>
				<string>gpt-4o</string>
				<string>gpt-5</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>gpt-4o</string>
			<key>Key</key>
			<string>visionModel</string>
			<key>Title</key>
			<string>Vision Model</string>
			<key>Titles</key>
			<array>
				<string>GPT 4o</string>
				<string>GPT 4.1</string>
				<string>GPT 5</string>
				<string>GPT 5 mini</string>
				<string>GPT 5 nano</string>
			</array>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Values</key>
			<array>
				<string>gpt-4o</string>
				<string>gpt-4.1</string>
				<string>gpt-5</string>
				<string>gpt-5-mini</string>
				<string>gpt-5-nano</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
